<footer id="footer">
  <%- partial('_partial/search') %> # 引入search.ejs,这个文件的作用是生成搜索框并启用搜索输入
  <%- js('js/load') %> # 引入load.js，这个文件的作用是加载search.xml
  <%- js('js/search') %> # 引入search.js，这个文件的作用是解析search.xml
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
    </div>
  </div>
</footer>
